/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);*/
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Black.ttf);
    font-weight: 900;
}
/*

GENERALS

*/
html { font-size: 62.5%; }
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove the highlight on mobile devices */
}
/* custom text highlight color */
*::selection {
	background: rgba(58,52,54,0.7); 
	color: #fff;
}
*::-moz-selection {
	background: rgba(58,52,54,0.7);  
	color: #fff;
}
*::-webkit-selection {
	background: rgba(58,52,54,0.7);  
	color: #fff;
}

body {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-weight: 300;
	margin: 50px inherit;
	font-size: 4.8rem;
	color: #3A3436;
}
h2 {
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 2.8rem;
	letter-spacing: 1px;
	color: #3A3436;
}
p {
	font-weight: 300;
	font-size: 2.8rem;
	line-height: 4rem;
	color: #3A3436;
}
a {
	text-decoration: none;
	color: #72C8B3;
}
a.link-btn {
	display: inline-block;
	margin: 4px 0;
	padding: 1.2rem 3rem;
	border: 2px solid #72C8B3;
	border-radius: 1rem;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}
a.link-btn:hover, .link-btn:focus {
	background: #72C8B3;
	color: #fff;
}

/*
** Header
*/
header {
	height: 600px;
	background: url(./images/ballon-alsace-rw@2x.jpg) no-repeat top center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body#about-page header{
	background-image: url(./images/champ-rw@2x.jpg);
}
/*
** Footer
*/
footer {
	height: auto;
	text-align: center;
	background-color: #2B2728;
	/* don't show the footer image
	height: 200px;
	background-image: url(./images/pixel-skyline.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	*/
}
footer p {
	font-weight: 300;
	color: rgba(255,255,255,0.2);
	font-size: 1.8rem;
	margin-bottom: 0;
}
/*

HEADER MENU BAR

*/	
nav.ui.menu {
	background: none;
	position: absolute;
	width: 100%;
	z-index: 100;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#home-page nav.ui.menu h1{
	position: absolute;
	margin: 0;
	text-indent: -999em; /* make the text accessible to screen readers */
}
nav.ui.menu a.item {
	width: 6rem;
	height: 6rem;
	margin: 5rem;
	padding: 0;	
	border: 0;
	background-size: 100%;
}
nav.ui.menu>a.item {
	background: url(./images/logorw.svg) center no-repeat;
	background-size: 100%;
}
nav.ui.menu>div.right.menu>a.item {
	background: url(./images/navicon.svg) center no-repeat;
	background-size: 100%;
}
nav.ui.menu a.item:hover {
	background-color: transparent;	
}
/*

CAROUSEL

*/
#carousel {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#carousel .handle {
	width: 400%;
	height: 100%;
}
#carousel .handle .slide {
	float: left;
	position: relative;
	display: table;
	width: 25%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
/* 
** Slide 1 
*/
.slide.step1 {
	background: url(./images/bg1.jpg);
	background-color: rgba(223,84,70,0.8); /* rouge */
}
.step1 .link-btn:hover,
.step1 .link-btn:focus {
	color: #DF5446; /* rouge */
}
/*
** Slide 2
*/
.slide.step2 {
	background: url(./images/bg2.jpg);
}
.step2 .link-btn:hover,
.step2 .link-btn:focus {
	color: #72C8B3; /* bleu */
}
/* 
** Slide 3 
*/
.slide.step3 {
	background: url(./images/bg3.jpg);
}
.step3 .link-btn:hover,
.step3 .link-btn:focus {
	color: #DCC4AC; /* beige */
}
/* 
** Slide 4 
*/
.slide.step4 {
	background: url(./images/bg4.jpg);
}
.step4 .link-btn:hover,
.step4 .link-btn:focus {
	color: #FCB857; /* jaune */
}
/*
** Slide - Texts
*/
.info {
	display: table-cell;
	vertical-align: middle;
}
.info p{
	text-align: center;
	color: #fff;
	margin-left: 10%;
	margin-right: 10%;
}
.info p.description{
	font-size: 7rem;
	line-height: 7.4rem;
	font-weight: 300;
	margin-top: 3rem;
}
.info p strong{
	font-weight: 700;
	color: #fff;
}
.info .link-btn{
	color: #fff;
	border-color: #fff; 
}
.info .link-btn:hover,
.info .link-btn:focus{
	background-color: #fff;
}
/*
** Slider - Navbar
*/
#slider-nav{
	position: absolute;
	top: 90%;
	left: calc( 50% - 150px );
	width: 300px;
	text-align: center;
}

/* Styling dots from the slider navigation bar */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
	pointer-events: none;
}
.dotstyle li a:focus {
	outline: none;
}
.dotstyle-dotstroke li a {
	box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.5);
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}
.dotstyle-dotstroke li a:hover,
.dotstyle-dotstroke li a:focus {
	box-shadow: inset 0 0 0 8px white;
}
.dotstyle-dotstroke li.current a {
	box-shadow: inset 0 0 0 2px white;
}
/* 
====================
--    PROJECTS    --
==================== 
*/
.timeline-content h2{
	text-align: left;
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 3.8rem;
}
.exposition img {
	margin: 15px auto;
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=180, Strength=8);
}
.exposition img.no-shadow {
	box-shadow: none;
}
/*
** Additional informations rows
*/
div.tasks, div.award>.column {
	border-top: thin solid rgba(0,0,0,0.1);
}
div.row.award .column, 
div.five.column.row.tasks {
	padding-top: 3rem;
}
div.tasks p, div.award p{
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.8rem;
	color: #3A3436;
}
/* 
** Tasks row 
*/
div.tasks {
	padding-bottom: 3rem !important;
	border-bottom: thin solid rgba(0,0,0,0.1);
}
div.tasks i{
	display: block;
	margin-top: 2rem;
	font-size: 4.6rem;
	color: #3A3436;
}
/* 
** Award row
*/
div.award .column {
	width: 50% !important;
	padding-bottom: 50px;
}
div.award span {
	margin-top: 15px;
	color: #FCB857;
}
/*

DEVICES MOCK UP DEMO

*/
.devices {
	width:100%;
	height:100%;
	padding: 2em 0 2em;
	margin: 0;
}
.device {
	margin: 6em auto 0.598em;
	background-color: #e9eae4;
	border: 0.126em solid #fff;
	border-radius: 1.512em;
	width: 23.184em;
	height: 46.116em;
	padding: 1.701em 0 0;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}
.device.ipad {
	margin: 1.5em auto 0.897em;
	border-radius: 2.268em;
	width: 43.17em;
	height: 57.267em;
	padding: 2.268em 0 0;
}
.devicetop {
	background-color: #aba99f;
	width: 3.78em;
	height: 0.630em;
	border: 0.252em solid #c5c3ba;
	border-radius: 0.630em;
	margin: 0 auto 1.701em;
}
.devicetop.ipad-camera {
	width: 0.315em;
	height: 0.315em;
	border-radius: 0.315em;
	margin: 0 auto 1.512em;
	border: 0.189em solid #c5c3ba;
}
.screen {
	background-color: #c5c3ba;
	margin: 0 auto 0;
	border: 0.378em solid #aba99f;
	border-radius: 0.378em;
	width: 20.16em;
	height: 35.784em;
	overflow: scroll;
}
.screen::-webkit-scrollbar { 
    display: none; 
}
.screen img{
	width:100%;
	margin:0;
}
.screen.ipad-screen {
	width: 36.288em;
	height: 48.384em;
}
.button {
	margin: 1.26em auto 0;
	background-color: #c5c3ba;
	width: 2.142em;
	height: 2.142em;
	border-radius: 50%;
	padding: 1.134em;
}
.button-square {
	margin-top: 0.15em;
	margin-left: 0.1em;
	width: 1.5em;
	height: 1.5em;
	border: 0.252em solid #e9eae4;
	border-radius: 0.504em;
}
/* 
====================
--    TIMELINE    --
==================== 
*/
.timeline-content p, h3 {
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #3A3436;
}
#timeline {
	position: relative;
	padding: 2rem 0;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
#timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	height: 100%;
	width: 4px;
	border-radius: 2px;
	background: #E3D0BD;
}
.timeline-block {
	position: relative;
}
.timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.timeline-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -41px;
	background: #fff;
	border: solid thin #CF4661;
	border-radius: 42px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.timeline-icon img {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

.timeline-content {
	position: relative;
	margin-left: 0;
	margin-bottom: 7rem;
	width: 45%;
	float: right;
	text-align: left;
}
.timeline-content h2, .timeline-content p {
	margin: 0;
	line-height: 3rem;
}
.timeline-date{
	position: absolute;
	display: inline-block;
	left: auto;
	right: 122%;
	text-align: center;
	top: 12px;
	font-size: 2rem;
	color: rgba(58,52,54,0.6);
}
/* 
** Avatar image block 
*/
div.avatar {
	margin-top: -70px;
}
div.avatar-img {
	margin: 0 auto;
	height: 14rem;
	width: 14rem;
	border-radius: 7rem;
	background: url(./images/avatar.png) center no-repeat;
	background-size: cover;
}
/*
==============
 PROJECT PAGE
==============
*/

/* Project caption */
.project-page .caption {
	padding-bottom: 30px;
}
/* Exposition of the case */
.project-page .exposition h2 {
	text-align: left;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.4rem;
	letter-spacing: 0px;
	margin: 20px auto;
}
.project-page .exposition p {
	text-align: left;
	font-size: 2.2rem;
	line-height: 3.4rem;
	margin-bottom: 20px;
}

.project-page .project {
	text-align: center;
	/*padding-top: 60px;*/
}
.project-page .project p {
	margin: 0;
	color: #fff;	
	padding-left: 50px;
	padding-right: 50px;
}
.project-page .project h3::after { 
	display: block;
	text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 300;
    content: "//";
}

.project-page .project h3 {
	color: #fff;
	margin: 0;
}
.project-page .project a {
	display: inline-block;
	width: 100%;
	padding: 150px 0;
}

.project-page footer p {
	color: rgba(255,255,255,0.2);
	font-size: 1.8rem;
	margin: 0;
}

div.project.case-1 a{
	background-color: rgba(223,84,70,0.8);
}
div.project.case-2 a{
	background-color: rgba(114,200,179,0.8);
}
div.project.case-3 a{
	background-color: rgba(220,196,172,0.8);
}
div.project.case-4 a{
	background-color: rgba(252,184,87,0.8);
}

div.project a{
	transition: background-color 1.2s;
}
div.project a:hover{
	background-color: transparent;
}


/* CASE 1 */
.project-page#case-1 header,
.project.case-1{
	background: url(./images/cla@2x.jpg) center no-repeat;
	background-size: cover;
}
.project-page#case-1 .project {
	background: url(./images/bg2.jpg) center no-repeat;
	background-size: cover;
}
/* CASE 2 */
.project-page#case-2 header,
.project.case-2{
	background: url(./images/ballon-alsace-rw.jpg) center no-repeat;
	background-size: cover;
}
.project-page#case-2 .project {
	background: url(./images/bg3.jpg) center no-repeat;
	background-size: cover;
}
/* CASE 3 */
.project-page#case-3 header,
.project.case-3{
	background: url(./images/mmi-montbeliard-rw.jpg) center no-repeat;
	background-size: cover;
}
.project-page#case-3 .project {
	background: url(./images/bg4.jpg) center no-repeat;
	background-size: cover;
}
/* CASE 4 */
.project-page#case-4 header,
.project.case-4{
	background: url(./images/comptoir-rw.jpg) center no-repeat;
	background-size: cover;
}
.project-page#case-4 .project {
	background: url(./images/bg1.jpg) center no-repeat;
	background-size: cover;
}

/*

RESPONSIVE STYLING

*/

/* Small devices */
@media screen and (max-width: 750px) { 
	html { font-size: 50%; }

	header {
		height: 250px;
		background-attachment: scroll;
	}
	header nav.ui.menu a.item{
		margin: 20px;
		width: 5rem;
		height: 5rem;
	}

	.info p.description {
		font-size: 3rem;
		line-height: 4rem;
	}

	.five.column.row .column {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	div.award .column{
		width: 80% !important;
	}

	.timeline-icon {
		width: 60px;
		height: 60px;
		border-radius: 32px;
		left: 40%;
		margin-left: -32px;
	}
	.timeline-date{
		padding-right: 45%;
	}
	#timeline::before {
		left: 40%;
	}

	/* hides iphone/ipad mock-ups */
	div.row.responsive-examples {
		display: none !important;
	}

	.project-page .project a {
		padding: 15% 0;
	}
	footer {
		height: 100px;
		background-size: 450px;
	}
}

/* Medium devices */
@media screen and (min-width: 750px) and (max-width: 970px) { 

	div.award .column {
		width: 75% !important;
	}
	header {
		height: 300px;
	}
	.project-page .project a {
		padding: 100px 0;
	}
}

/* Large devices */
@media screen and (min-width: 970px) and (max-width: 1200px) { 

	header {
		height: 400px;
	}
}

/* Retina display */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (max--moz-device-pixel-ratio: 2), only screen and (max-device-pixel-ratio: 2) {
	
	header {
		background-attachment: scroll;
	}
}