/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);*/
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Lato";
    src: url(Lato/Lato-Black.ttf);
    font-weight: 900;
}


html { font-size: 62.5%; }
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove the highlight on mobile devices */
}
*::selection {
	background: rgba(58,52,54,0.7); 
	color: #fff;
}
*::-moz-selection {
	background: rgba(58,52,54,0.7);  
	color: #fff;
}
*::-webkit-selection {
	background: rgba(58,52,54,0.7);  
	color: #fff;
}

body {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-weight: 300;
	margin: 60px inherit;
	font-size: 4.8rem;
	color: #3A3436;
}
h2 {
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 30px;
	letter-spacing: 1px;
	font-size: 2.8rem;
	color: #3A3436;
}
p {
	font-weight: 300;
	font-size: 2.8rem;
	color: #3A3436;
	line-height: 4rem;
}
a{
	text-decoration: none;
}

body#home-page nav{
	background: none;
	position: absolute;
	width: 100%;
	z-index: 100;
}
/*

HEADER NAVIGATION

*/
nav.ui.menu{
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
nav.ui.menu a.item{
	width: 6rem;
	height: 6rem;
	margin: 5rem;
	padding: 0;	
	border: 0;
	background-size: 100%;
}
nav.ui.menu>a.item{
	background: url(./images/logorw.svg) center no-repeat;
	background-size: 100%;
}
nav.ui.menu>div.right.menu>a.item{
	background: url(./images/navicon.svg) center no-repeat;
	background-size: 100%;
}
nav.ui.menu a.item:hover{
	background-color: transparent;	
}

/*

IMAGE CAROUSEL

*/
#carousel{
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#carousel .handle{
	width: 400%;
	height: 100%;
}
#carousel .handle .slide{
	float: left;
	position: relative;
	display: table;
	width: 25%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.slide.img1{
	background: url(./images/bg1.jpg);
	background-color: rgba(252,184,87,0.8);
}
.slide.img2{
	background: url(./images/bg2.jpg);
	background-color: #72C8B3;
}
.slide.img3{
	background: url(./images/bg3.jpg);
	background-color: #DF5446;
}
.slide.img4{
	background: url(./images/bg4.jpg);
	background-color: #DCC4AC;
}

.info{
	display: table-cell;
	vertical-align: middle;
}
.info p{
	text-align: center;
	color: #fff;
	margin-left: 10%;
	margin-right: 10%;

}
.info p.description{
	font-size: 7rem;
	line-height: 7.4rem;
	font-weight: 300;
	margin-top: 3rem;
	
}
.info p strong{
	font-weight: 700;
	color: #fff;
}
.info .link-btn{
	color: #fff;
	border-color: #fff; 
}
.info .link-btn:hover,
.info .link-btn:focus{
	background-color: #fff;
	color: #ACC7BA;
}
#slider-nav{
	position: absolute;
	top: 90%;
	left: calc( 50% - 150px );
	width: 300px;
	text-align: center;
}

/* Styling Dots from Slider Navigation Menu */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
	pointer-events: none;
}

.dotstyle li a:focus {
	outline: none;
}

.dotstyle-dotstroke li a{
	box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.5);
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}

.dotstyle-dotstroke li a:hover,
.dotstyle-dotstroke li a:focus {
	box-shadow: inset 0 0 0 8px white;
}

.dotstyle-dotstroke li.current a{
	box-shadow: inset 0 0 0 2px white;
}

/*------------------------------------------------------*/

/* 
====================
--    PROJECTS    --
==================== 
*/
.link-btn{
	border: 1px solid #72C8B3;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	color: #72C8B3;
	padding: 1.2rem 1.8rem;
}
.link-btn:hover, .link-btn:focus{
	background: #72C8B3;
	color: #fff;
}
div.avatar {
	margin-top: -70px;
}
div.avatar-img {
	margin: 0 auto;
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background: url(./images/avatar.png) center no-repeat;
}
.exposition h2{
	text-align: left;
}
.exposition p, .timeline-content h2{
	text-align: left;
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 3.8rem;
}
.exposition img {
	margin: 15px auto;
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
	/*filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=5);*/
}
.timeline-content p, h3 {
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #3A3436;
}
/* award row */
div.row.award .column, 
div.five.column.row.tasks{
	padding-top: 3rem;
}
div.award .column{
	width: 50% !important;
}
div.award .column i.fa {
	font-size: 5rem;
	padding: 25px;
	margin-top: 25px;
	color: white;
	text-align: center;
	background-color: #FCB857;
	height: 5rem;
	width: 5rem;
	border-radius: 5rem;
}

/* tasks row */
div.tasks, div.award>.column {
	border-top: thin solid rgba(0,0,0,0.1);
}
div.tasks i{
	display: block;
	margin-top: 2rem;
	font-size: 4.6rem;
	color: #3A3436;
}
div.tasks p, .award p{
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.8rem;
	color: #3A3436;
}
header {
	height: 600px;
	background: url(./images/ballon-alsace-rw@2x.jpg) no-repeat center;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body#about-page header{
	background-image: url(./images/champ-rw@2x.jpg);
}
footer {
	height: 200px;
	text-align: center;
	background-color: #2B2728;
	background-image: url(./images/pixel-skyline.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
footer p{
	font-weight: 300;
	color: rgba(255,255,255,0.2);
	font-size: 1.8rem;
}
/* 
====================
--    TIMELINE    --
==================== 
*/
#timeline {
	position: relative;
	padding: 2rem 0;
	margin-top: 4rem;
	margin-bottom: 4rem;
}
#timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	height: 100%;
	width: 4px;
	border-radius: 2px;
	background: #E3D0BD;
}
.timeline-block {
	position: relative;
}
.timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.timeline-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	left: 50%;
	margin-left: -41px;
	background: #fff;
	border: solid thin #CF4661;
	border-radius: 42px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.timeline-icon img {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

.timeline-content {
	position: relative;
	margin-left: 0;
	margin-bottom: 7rem;
	width: 45%;
	float: right;
	text-align: left;
}
.timeline-content h2, .timeline-content p {
	margin: 0;
}
.timeline-date{
	position: absolute;
	display: inline-block;
	left: auto;
	right: 122%;
	text-align: center;
	top: 12px;
	font-size: 2rem;
	color: rgba(58,52,54,0.6);
}

/* higher resolution images */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (max--moz-device-pixel-ratio: 2), only screen and (max-device-pixel-ratio: 2) {
	
	header {
		background-attachment: scroll;
	}

	footer {
		background: url(./images/pixel-skyline.png) center no-repeat;
	}	

}

/*
===============
 TEXT TEMPLATE
===============
*/
#text-template header {
	background: url(./images/mmi-montbeliard.jpg) center no-repeat;
	background-size: cover;
}
#text-template .column.caption {
	margin-bottom: 30px;
}

#text-template h1, #text-template h2, 
#text-template p {
	font-family: "Lato";
	font-weight: 300;
	color: #3A3436;
	margin: 0;
}
#text-template h1 {
	font-size: 4.8rem;
	margin: 50px auto;
}

#text-template p {
	font-size: 2.8rem;
	line-height: 4rem;
	margin-bottom: 30px;
}
#text-template a.link-btn {
	display: inline-block;
	margin: 4px 0;
	padding: 10px 30px;
	line-height: 2.4rem;
	border: solid 2px #72C8B3;
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: 1px;
}

#text-template .exposition h2 {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.4rem;
	letter-spacing: 0px;
	margin: 20px auto;
}
#text-template .exposition p {
	font-size: 2.2rem;
	line-height: 3.4rem;
	margin-bottom: 20px;
}

#text-template .tasks p, 
#text-template .award p {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-top: 20px;
}

#text-template .tasks {
	padding-bottom: 20px;
	border-bottom: thin solid rgba(0,0,0,0.1);
}

#text-template .project {
	background: url(./images/bg3.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: 30px;
}
#text-template .project p {
	margin: 0;
	color: #fff;
}

#text-template .project h3::after { 
	display: block;
	text-align: center;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 300;
    content: "//";
}

#text-template .project h3 {
	color: #fff;
	margin: 0;
}
#text-template .project a {
	display: inline-block;
	width: 100%;
	padding: 150px 0;
}

#text-template footer p {
	color: rgba(255,255,255,0.2);
	font-size: 1.8rem;
}


/* Small devices */
@media screen and (max-width: 750px) { 
	html { font-size: 50%; }
	.five.column.row .column {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	div.award .column{
		width: 80% !important;
	}
	.timeline-icon {
		width: 60px;
		height: 60px;
		border-radius: 32px;
		left: 40%;
		margin-left: -32px;
	}
	.timeline-date{
		padding-right: 45%;
	}
	#timeline::before {
		left: 40%;
	}
	header {
		height: 400px;
		background-attachment: scroll;
	}
	header nav.ui.menu a.item{
		margin: 20px;
		width: 5rem;
		height: 5rem;
	}
}

/* Medium devices */
@media screen and (min-width: 750px) and (max-width: 970px) { 
	div.award .column{
		width: 75% !important;
	}
}